<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:replace="template.html::head">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div th:replace="template.html::navbar"></div>
<div class="container">
    <header><h2>My budget</h2></header>

    <table class="table table-budget">
        <tr>
            <td>Budget:</td>
            <td>0</td>
            <td>edit</td>
        </tr>
        <tr>
            <td>Savings:</td>
            <td>0</td>
            <td>edit</td>
        </tr>
        <tr>
            <td>I'd like to save monthly:</td>
            <td>0</td>
            <td>edit</td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td><strong>clear</strong></td>
        </tr>

    </table>


</div>
<div th:replace="template.html :: js-include"></div>
<script src="/js/redirect.js"></script>
</body>
</html>