<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:replace="template.html::head">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div th:replace="template.html::navbar"></div>
<div class="container">
    <div id="budget">
        <header><h2>My budget</h2></header>
        <hr>

        <div th:class="addToBudget">
            <form th:action="@{/budget/add}" th:method="post" th:class="form-inline">
                <div class="form-group" style="margin-right: auto; margin-left: auto;">
                    <input  id="budgetEdit" class="form-control" type="number" name="amount"
                           placeholder="Add to budget..." min="0" required>
                    <button type="submit" class="btn btn-secondary pull-right" style="margin-left:5px;">Add</button>
                    <button type="submit" class="btn btn-secondary pull-right" style="margin-left:5px;">Set</button>
                </div>
            </form>
        </div>

        <table class="table table-budget">
            <tr>
                <td>Budget:</td>
                <td> {{test}} </td> <!--th:text="${user.budget}"-->
                <td>edit</td>
            </tr>
            <!--<tr>
                <td>Savings:</td>
                <td th:text="${user.savings}"></td>
                <td>edit</td>
            </tr>
            <tr>
                <td>Budget sum:</td>
                <td th:text="${budgetSum}"></td>
                <td>edit</td>
            </tr>
            <tr>
                <td>I'd like to save monthly:</td>
                <td th:text="${user.toSave}"></td>
                <td>edit</td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td><strong>clear</strong></td>
            </tr>
            -->
        </table>
    </div>
    <!--<form th:action="@{/addToBudget}" method="post" style="width: 100px;" th:class="form-inline">
        <div class="form-group mb-2">
            <input type="number" name="amount" class="form-control" min="0">
        </div>
        <button type="submit" class="btn btn-secondary mb-2 pull-right">
            add
        </button>
    </form>-->


</div>
<div th:replace="template.html :: js-include"></div>
</body>
<script th:src="@{/js/budget.js}"></script>
</html>