
#headerBudget {
    font-weight: bold;
    font-size: large;
    color: forestgreen; !important;
}

#headerBudgetDiv {
    margin-right: 50px;
    color: dimgray;
    font-weight: bold;
    background: ghostwhite;
    padding: 5px 10px;
    border-radius: 15px;
}

.income {
    color: chartreuse;
    font-weight: bold;
}

.outcome {
    color: #FF0000;
    font-weight: bold;
}

body {
    /*OBRAZ W TLE*/
    /*background-image: url(../assets/padlock_photo.jpg);
    background-size: auto;*/
    /*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);*/
    /*background-color: #e6e6e6;
    background-color: #fefefe;*/
    /*disable scroll*/
    margin: 0;
    height: 100%;
    overflow: auto; /* scroll/hidden/auto/visible */
    overflow-y: scroll;

    /*https://www.cssmatic.com/noise-texture*/
    background-image: url(http://api.thumbr.it/whitenoise-361x370.png?background=ffffffff&noise=d49696&density=100&opacity=10);
    /*background-color: white;*/

}

.container {
    padding: 20px;
    width: 1000px;
    /*height: 750px;*/
    /*height:86vh;                                            !*!!!!!!!!!!!!!!!!!!*!*/
    border-radius: 8px;
    overflow: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-top: 20px;
}

.container, .container-small {
    padding-top: 20px;
    text-align: center;
    /*margin-bottom: 60px;*/
    padding-bottom: 60px;
    background-color: white;
    /*background-color: rgba(255, 250, 250, .7);*/

    /*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);*/
    /*border: 1px solid black;*/
    /* opacity: 0.6;
     filter: alpha(opacity=60); !* For IE8 and earlier *!*/
}

.indexAddPayment, .indexBudget, .indexHistory {
    /*margin: 20px;*/
    padding: 30px;
    margin-left: auto; margin-right: auto;
    float: left;
    display: inline;
    width: 30%;
    height: 600px;
    /*border-style: groove;*/
    border-radius: 15px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.indexAddPayment{
    margin-left: 50px;
}

.indexHistory{
    margin-right: 50px;
}



.container-small {
    width: 400px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
    padding: 20px;
    border-radius: 15px 50px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.container-wide {
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: auto; /*100%;*/ /*1300px;*/
}

#chartsVue {
    width: 1400px;
    /*margin-left: 100px;*/
    margin-left: auto;
    /*margin-right: 100px;*/
    margin-right: auto;
    background: #1D1F20;
}

.dark-body {
    background: #1D1F20;
}

.overflow {
    overflow: auto;
}

.navbar {
    /*background-image: linear-gradient(to right, #343a40, #3f474e);*/
    background-image: linear-gradient(to right, #343a40, #4b545c);
    /*background-image: linear-gradient(to right, #343a40, #56606a);*/
    padding-left: 20%;
}

.g-recaptcha {
    margin: 25px;
}

.alert {
    width: 400px;
    margin-left: auto;
    margin-right: auto;
}


header {
    text-align: center;
    margin-bottom: 10px; /*old 50*/
}

.table {
    margin-top: 15px;
}

.table-payments {
    table-layout: fixed;
}

.table-budget {
    margin-right: auto;
    margin-left: auto;
    width: 600px;
}

.table-budget .small {
    width: 100px;
}

.str-box {
    position: relative;
    width: 56px;
    height: 12px;
    float: left;
}

.str-box div {
    position: absolute;
    width: 0%;
    height: 100%;
    -moz-transition: 1s;
    -o-transition: 1s;
    -webkit-transition: 1s;
    transition: 1s;
}

.button-mid {
    margin-left: auto;
    margin-right: auto;
}

.alert {
    /*width: auto;*/
    width: 350px;
    margin: 10px auto;
}


.nav-link {
    color: #6c757d;
}

.nav-link:hover {
    color: red;
}

a {
    color: #6c757d;
}

a:hover {
    color: black;
}

.collapse {
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

.shadow {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/*DO MIERNIKA HASLA*/
.short {
    color: #FF0000;
}

.short .str-box.box1 div {
    /*background: #f6dfc9;*/
    background: #FF0000;
    width: 100%;
}

.weak {
    color: #E66C2C;
}

.weak .str-box.box1 div {
    background: #f4c9a0;
    width: 100%;
}

.weak .str-box.box2 div {
    background: #f4c9a0;
    width: 100%;
}

.good {
    color: #2D98F3;
}

.good .str-box.box1 div {
    background: #f6b578;
    width: 100%;
}

.good .str-box.box2 div {
    background: #f6b578;
    width: 100%;
}

.good .str-box.box3 div {
    background: #f6b578;
    width: 100%;
}

.strong {
    color: #006400;
}

.strong .str-box.box1 div {
    background: #006400;
    width: 100%;
}

.strong .str-box.box2 div {
    background: #006400;
    width: 100%;
}

.strong .str-box.box3 div {
    background: #006400;
    width: 100%;
}

.strong .str-box.box4 div {
    background: #006400;
    width: 100%;
}

.result {
    font-size: 18px;
    font-family: arial;
    width: auto;
    display: block;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    font-variant: small-caps;
}

.form-control:focus {
    border-color: #FF0000;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 0, 0, 0.6);
}

#dataTable_filter input{
    border-radius: 5px;
    color: red;
}

#budgetTable {
    font-size: x-large;
}

#chartDiv {
    /*border: 1px dotted red;*/
}

.pieChart {
    width: 400px; height:400px;
}

.barChart {
    width: 400px; height: 800px;
    margin-bottom: 200px; margin-left:auto; margin-right:auto;
}