<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:replace="template.html::head">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div th:replace="template.html::navbar"></div>
<div class="container">
    <div class="content">
        <header>
            <h2>Categories
                <a href="/category/add" onclick="changeContent('newCategory'); return false;"
                   class="btn btn-secondary button-mid" id="addPayment">
                    Add
                </a>
            </h2>
        </header>


        <!--<table class="table">-->
        <table id="categoryTable" class="table table-sm table-hover" >
            <thead class="thead-dark">
            <tr>
                <th scope="col">Category name</th>
                <th scope="col"></th>
            </tr>
            </thead>
           <!-- <tbody>
            <th:block th:each="category: ${categories}">
                <tr>
                    <td th:text="${category.name}"></td>
                    <td>edit name</td>
                    <td><a th:href="${category.payments!=null}?@{'/category/'+${category.name}} : '#'"
                           th:text="${category.payments!=null}?'show payments':''"></a></td>
                    <td><a data-toggle="modal" href="#deleteCatConfirm"
                           th:attr="data-id=${category.id}, data-name=${category.name}">delete</a></td>
                </tr>
            </th:block>
            </tbody>-->
        </table>

    </div>

    <div class="modal fade" id="deleteCatConfirm" tabindex="-1" role="dialog" aria-labelledby="deleteModalCenterTitle"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteConfirmTitle">Delete</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Do you really want to delete position <span id="catName" class="name" style="font-weight: bold;"></span>?
                    <br/><strong style="color: red;">It will remove category from all linked payments</strong>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <form id="categoryDeleteForm" action="" method="get" >
                        <button type="submit" class="btn btn-primary">Delete</button>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>
<div th:replace="template.html :: js-include"></div>
<script th:src="@{/js/category.js}"></script>
</body>
</html>