<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:replace="template.html::head">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div th:replace="template.html::navbar"></div>
<div class="container container-small">
    <header><h2>Add category</h2></header>
    <form th:action="@{/category/add}" method="post">
        <div class="form-group">
            <input type="text" class="form-control" id="name"
                   placeholder="Category name" name="name" autofocus="autofocus" required>
            <!--<small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>-->
        </div>
        <button type="submit" class="btn btn-secondary">Submit</button>
    </form>


</div>
<div th:replace="template.html :: js-include"></div>
</body>
</html>