<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:replace="template.html::head">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div th:replace="template.html::navbar"></div>
<div class="container-wide">

    <!--
    <div class="button-group" sec:authorize="isAuthenticated()">
        &lt;!&ndash;<p th:if="${loggedIn}"><h1 th:inline="text">Hello [[${#httpServletRequest.remoteUser}]] !</h1></p>&ndash;&gt;
        <div th:if="${loggedIn}" class="alert alert-success" role="alert">
            <h5>Signed in</h5>
            <h5 th:text="${loggedIn}"></h5>
            &lt;!&ndash;<h5>Hello [[${#httpServletRequest.remoteUser}]] !</h5>&ndash;&gt;
        </div>
    </div>
    -->

        <div class="indexAddPayment">
            <header><h2>Add payment</h2></header>
            <br />
            <form th:action="@{/payment/add}" method="post">
                <div class="form-group">
                    <div class="form-row">
                        <div class="col">
                            <label for="name" style="font-weight: bold">Position name *</label>
                            <input type="text" class="form-control" id="name"
                                   placeholder="Position name" name="name" required
                                   style="width: 180px; margin-right: auto; margin-left: auto;">
                        </div>
                        <div class="col">
                            <label for="price">Value *</label>
                            <input type="number"
                                   min="0" step="any" class="form-control" id="price" placeholder="Type price"
                                   name="price" required
                                   style="width: 200px; margin-right: auto; margin-left: auto;">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="form-row">
                        <div class="col">
                            <label for="categories">Category</label>
                            <select id="categories" name="categories" class="form-control"
                                    style="width: 250px; margin-right: auto; margin-left: auto;">
                                <option value="-1">None</option>
                                <option th:each="category : ${categories}"
                                        th:value="${category.id}"
                                        th:text="${category.name}"></option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="form-row">
                        <div class="col">
                            <label for="date" th:value="${date}">Date</label>
                            <input class="form-control" type="date" id="date" name="date"
                                   style="width: 160px; margin-right: auto; margin-left: auto;">
                        </div>
                        <div class="col">
                            <label for="time" th:value="${date}">Time</label>
                            <input class="form-control" type="time" id="time" name="time"
                                   style="width: 100px; margin-right: auto; margin-left: auto;">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col">
                            <label for="description">Description</label>
                            <input id="description" name="description" class="form-control" type="text" autocomplete="off">
                        </div>
                    </div>
                </div>

                <button id="buttonPaymentCollapse" type="submit" class="btn btn-secondary pull-right">Submit
                </button>
            </form>
        </div>


        <div class="indexBudget">
            <header><h2>My budget</h2></header>
            <table class="table">
                <tr>
                    <td><strong>Budget:</strong></td>
                   <td th:text="${user.budget}" style="font-weight: bold"></td>
                </tr>
                <tr>
                    <td>Savings:</td>
                    <td th:text="${user.savings}"></td>
                </tr>
                <tr>
                    <td>Budget sum:</td>
                    <td th:text="${budgetSum}"></td>
                </tr>
                <tr>
                    <td>I'd like to save monthly:</td>
                    <td th:text="${user.toSave}"></td>
                </tr>
                <tr>
                    <td></td>
                    <td><strong><a th:href="@{/budget}" th:class="btn">edit</a></strong></td>
                </tr>
            </table>
        </div>


        <div th:class="indexHistory">
            <header><h2>History</h2></header>

            <table class="table table-sm table-hover">
                <thead class="thead-dark">
                <tr>
                    <th scope="col">Pos name</th>
                    <th scope="col">price</th>
                    <th scope="col">Date</th>
                    <th scope="col">Category</th>

                </tr>
                </thead>
                <tbody>
                <th:block th:each="payment: ${payments}">
                    <tr>
                        <td th:text="${payment.name}"></td>
                        <td th:text="${payment.price}"></td>
                        <td th:text="${payment.justDate}"></td>
                        <!--<td th:text="${payment.category!=null}?${payment.category.name} : ''"></td>-->
                        <td style="width:120px;"><a th:href="${payment.category!=null}?@{'/category/'+${payment.category.name}} : '#'"
                                                     th:text="${payment.category!=null}?${payment.category.name} : ''"></a></td>
                        <!--<td><a th:href="@{'/payment/delete/' +${payment.id}}" th:onclick="'deletePos('+${payment.id}+')'">delete</a> </td>-->
                    </tr>
                </th:block>
                </tbody>
            </table>

        </div>


    <!--<div class="button-group" sec:authorize="isAnonymous()">-->
    <div class="button-group" sec:authorize="!isFullyAuthenticated()">
        <p><a href="/login">Login</a></p>
        <p><a href="/registration">Register</a></p>
    </div>

</div>
<div th:replace="template.html :: js-include"></div>
<script src="/js/redirect.js"></script>
</body>
</html>