<!DOCTYPE html>
<html xmlns:v-on="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:replace="template.html::head">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body class="dark-body">

<div th:replace="template.html::navbar"></div>
<div id="chartsVue" class="container-wide">
    <header style="margin-bottom: 40px; color: gray;"><h2>Summary</h2></header>
    <div class="form-row" style="width:450px; margin-left: auto; margin-right: auto; margin-bottom: 30px;">
        <div class="col">
            <input v-model="startDate"
                   class="form-control" type="date" id="startDate"
                   style="width: 200px; margin-right: auto; margin-left: auto;">
        </div>
        <div class="col">-</div>
        <div class="col">
            <input v-model="endDate"
                   class="form-control" type="date" id="endDate"
                   style="width: 200px; margin-right: auto; margin-left: auto;">
        </div>
        <div class="col" style="margin-top:10px;">
            <button v-on:click="submitRange" id="chartDateRangeSubmit" class="btn btn-secondary">apply range</button>
        </div>
    </div>
    <div class="form-row">
        <div div="reportInfo" class="col" >
            <header style="color:gray;"><h2>Summary info</h2></header>
            <table class="table table-dark">
                <tbody>
                <tr>
                    <td><strong>Budget</strong></td>
                    <td><strong>{{reportData.budget}}</strong></td>
                </tr>
                <tr>
                    <td>Total income</td>
                    <td>{{reportData.totalIncomeAmount}}</td>
                </tr>
                <tr>
                    <td>Payments value</td>
                    <td>{{reportData.totalOutcomeAmount}}</td>
                </tr>
                <tr>
                    <td>Amount of payments</td>
                    <td>{{reportData.paymentsAmount}}</td>
                </tr>
                <tr>
                    <td>Average daily outcome</td>
                    <td>{{reportData.averageDailyOutcome}}</td>
                </tr>
                <tr>
                    <td>Budget value in date range</td>
                    <td>{{reportData.incomeMinusOutcome}}</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div id="chartDiv" class="col"
             style="width:300px; height:400px; margin-bottom: 200px; margin-left:auto; margin-right:auto;">
            <div v-if="reportData.paymentsAmount > 0">
                <button v-on:click="initChart('pie')" class="btn btn-secondary">Pie chart</button>
                <button v-on:click="initChart('bar')" class="btn btn-secondary">Bar chart</button>
                <canvas id="chart" width="300" height="200"></canvas>
            </div>
        </div>
    </div>
    <div class="form-row">
        <div class="col">
        <div class="overflow">
            <table id="dataTable" class="table table-sm table-hover">
                <thead class="thead-dark">
                <tr>
                    <th scope="col">Pos name</th>
                    <th scope="col">price</th>
                    <th scope="col">Date</th>
                    <th scope="col" style="width: 150px;">Description</th>
                    <th scope="col">Category</th>
                </tr>
                </thead>

            </table>
        </div>
    </div>
    </div>
    <div class="button-group" sec:authorize="!isFullyAuthenticated()">
        <p><a href="/login">Login</a></p>
        <p><a href="/registration">Register</a></p>
    </div>

</div>
<div th:replace="template.html :: js-include"></div>
<script th:src="@{/js/index.js}"></script>
<script th:src="@{https://cdn.jsdelivr.net/npm/chart.js@2.8.0}"></script>
<script th:src="@{https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js}"></script>
</body>
</html>