<!DOCTYPE html>
<html xmlns:v-on="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3" >
<head th:replace="template.html::head">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div th:replace="template.html::navbar"></div>
<div id="chartsVue" class="container-wide">
    <div class="form-row" style="width:450px; margin-left: auto; margin-right: auto; margin-bottom: 30px;">
        <div class="col">
            <input class="form-control" type="date" id="date1" name="date"
                   style="width: 200px; margin-right: auto; margin-left: auto;" max="9999-01-01">
        </div>
        <div class="col">-</div>
        <div class="col">
            <input class="form-control" type="date" id="date2" name="date"
                   style="width: 200px; margin-right: auto; margin-left: auto;" max="9999-01-01">
        </div>
        <div class="col"><button v-on:click="submitRange" id="chartDateRangeSubmit" class="btn btn-secondary">apply range</button></div>
    </div>

        <div style="width:500px; height:500px; margin-bottom: 200px; margin-left:auto; margin-right:auto;">
    <canvas id="myChart" width="400" height="400"></canvas>
        </div>
    <div style="width=200px; height:200px;">
        <canvas id="myChart2" width="200" height="200"></canvas>
    </div>

    <!--
    <div class="button-group" sec:authorize="isAuthenticated()">
        &lt;!&ndash;<p th:if="${loggedIn}"><h1 th:inline="text">Hello [[${#httpServletRequest.remoteUser}]] !</h1></p>&ndash;&gt;
        <div th:if="${loggedIn}" class="alert alert-success" role="alert">
            <h5>Signed in</h5>
            <h5 th:text="${loggedIn}"></h5>
            &lt;!&ndash;<h5>Hello [[${#httpServletRequest.remoteUser}]] !</h5>&ndash;&gt;
        </div>
    </div>
    -->
    <!--<div class="container" style="margin-bottom: 30px;">
        henlo there
    </div>-->


    <!--<div class="button-group" sec:authorize="isAnonymous()">-->
    <div class="button-group" sec:authorize="!isFullyAuthenticated()">
        <p><a href="/login">Login</a></p>
        <p><a href="/registration">Register</a></p>
    </div>

</div>
<div th:replace="template.html :: js-include"></div>
<!--<script th:src="@{/js/common/redirectDOUSUNIECIA.js}"></script>-->
<script th:src="@{/js/index.js}"></script>
<script th:src="@{https://cdn.jsdelivr.net/npm/chart.js@2.8.0}"></script>
</body>
</html>