<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:replace="template.html::head">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div th:replace="template.html::navbar"></div>
<div class="container">
    <div class="content">
        <header>
            <h2>Payment history
                <button href="/payment/add" id="addPaymentButton" class="btn btn-secondary button-mid" type="button"
                        data-toggle="collapse" data-target="#collapseAddPayment" aria-expanded="false"
                        aria-controls="collapseExample" onclick="changeAddButton()">
                    Add
                </button>
            </h2>
        </header>
        <!--<a href="/payment/add" onclick="changeContent('newPayment'); return false;" class="btn btn-secondary button-mid" id="addPayment">
            Add
        </a>-->


        <div class="collapse" id="collapseAddPayment" style="margin-top:20px; ">
            <div class="card card-body" style="width: 60%; margin-left: auto; margin-right: auto;">
                <header><h2>Add payment</h2></header>
                <form th:action="@{/payment/add}" method="post">
                    <div class="form-group">
                        <div class="form-row">
                            <div class="col">
                                <label for="name" style="font-weight: bold">Position name *</label>
                                <input type="text" class="form-control" id="name"
                                       placeholder="Position name" name="name" autofocus="autofocus" required
                                       style="width: 250px; margin-right: auto; margin-left: auto;">
                            </div>

                            <div class="col">
                                <label for="price">Value *</label>
                                <input type="number"
                                       min="0" step="any" class="form-control" id="price" placeholder="Type price"
                                       name="price" required
                                       style="width: 200px; margin-right: auto; margin-left: auto;">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="form-row">
                            <div class="col">
                                <label for="categories">Category</label>
                                <select id="categories" name="categories" class="form-control"
                                        style="width: 250px; margin-right: auto; margin-left: auto;">
                                    <option value="-1">None</option>
                                    <option th:each="category : ${categories}"
                                            th:value="${category.id}"
                                            th:text="${category.name}"></option>
                                </select>
                            </div>
                            <div class="col">
                                <label for="date" th:value="${date}">Date</label>
                                <input class="form-control" type="date" id="date" name="date"
                                       style="width: 160px; margin-right: auto; margin-left: auto;">
                            </div>
                           <!-- <div class="col">
                                <label for="time" th:value="${date}">Time</label>
                                <input class="form-control" type="time" id="time" name="time"
                                       style="width: 100px; margin-right: auto; margin-left: auto;">
                            </div>-->
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="form-row">
                            <div class="col">
                                <label for="description">Description</label>
                                <input id="description" name="description" class="form-control" type="text">
                            </div>
                        </div>
                    </div>

                    <button id="buttonPaymentCollapse" type="submit" class="btn btn-secondary pull-right">Submit
                    </button>
                </form>
            </div>
        </div>

        <div class="overflow">
            <table id="dataTable" class="table table-sm table-hover">
                <thead class="thead-dark">
                <tr>
                    <th scope="col">Pos name</th>
                    <th scope="col">price</th>
                    <th scope="col">Date</th>
                    <th scope="col">Description</th>
                    <th scope="col">Category</th>
                    <th scope="col"></th>
                </tr>
                </thead>
                <tbody>
                <th:block th:each="payment: ${payments}">
                    <tr>
                        <td th:text="${payment.name}"></td>
                        <td th:text="${payment.price}"></td>
                        <td th:text="${payment.justDate}"></td>
                        <td th:text="${payment.description}" style="width: 220px;"></td>
                        <!--<td th:text="${payment.category!=null}?${payment.category.name} : ''"></td>-->
                        <td style="width: 220px;"><a
                                th:href="${payment.category!=null}?@{'/category/'+${payment.category.name}} : '#'"
                                th:text="${payment.category!=null}?${payment.category.name} : ''"></a></td>
                        <!--<td><a th:href="@{'/payment/delete/' +${payment.id}}" th:onclick="'deletePos('+${payment.id}+')'">delete</a> </td>-->
                        <td style="width:80px;">
                            <a data-toggle="modal" href="#deletePayConfirm" class="icon-block" th:attr="data-id=${payment.id}, data-name=${payment.name}">
                               <img th:src="@{/assets/delete-button.png}" style="width:26%; height:5%; float:right; margin-left:10px;" data-toggle="tooltip" title="DELETE"/>
                            </a>
                            <a th:href="@{'/payment/edit/'+${payment.id}}" class="icon-block">
                                <img th:src="@{/assets/edit-button.png}" style="width:23%; height:5%; float:right;" data-toggle="tooltip" title="EDIT"/>
                            </a>
                        </td>
                    </tr>
                </th:block>
                </tbody>
            </table>
        </div>

    </div>


    <div class="modal fade" id="deletePayConfirm" tabindex="-1" role="dialog" aria-labelledby="deleteModalCenterTitle"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteConfirmTitle">Delete</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Do you really want to delete position <span class="name" style="font-weight: bold;"></span>?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <form action="" method="get" id="hiddenForm">
                        <button type="submit" class="btn btn-primary">Delete</button>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>
<div th:replace="template.html :: js-include"></div>

<script>
    $(document).ready(function (){
        table.destroy();
        $("#dataTable").dataTable({
            "order": [],
            "columnDefs": [
                    { "orderable": false, "targets": 5}
            ]
        })

        $('[data-toggle="tooltip"]').tooltip();
    });
</script>

</body>
</html>