<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:replace="template.html::head">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div th:replace="template.html::navbar"></div>
<div class="container">
    <div class="content">
        <header><h2 th:text="'Category: '+${category}">Payment history</h2></header>


        <table class="table" id="dataTable">
            <thead class="thead-dark">
            <tr>

                <th scope="col">Pos name</th>
                <th scope="col">price</th>
                <th scope="col">Date</th>
                <th scope="col">Category</th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <th:block th:each="payment: ${payments}">
                <tr>
                    <td th:text="${payment.name}"></td>
                    <td th:text="${payment.price}"></td>
                    <td th:text="${payment.justDate}"></td>
                    <!--<td th:text="${payment.category!=null}?${payment.category.name} : ''"></td>-->
                    <td th:text="${payment.category!=null}?${payment.category.name} : ''"> </td>
                    <td style="width:80px;">
                        <a data-toggle="modal" href="#deletePayConfirm" class="icon-block" th:attr="data-id=${payment.id}, data-name=${payment.name}">
                            <img th:src="@{/assets/delete-button.png}" style="width:26%; height:5%; float:right; margin-left:10px;" data-toggle="tooltip" title="DELETE"/>
                        </a>
<!--                        <a th:href="@{'/payment/delete/' +${payment.id}}" th:onclick="'deletePos('+${payment.id}+')'">delete</a> -->
                        <a data-toggle="modal" href="#editPaymentModal" class="icon-block" th:attr="data-id=${payment.id}">
                            <img th:src="@{/assets/edit-button.png}" style="width:23%; height:5%; float:right;" data-toggle="tooltip" title="EDIT"/>

                        </a>
                    </td>
                </tr>
            </th:block>
            </tbody>
        </table>

    </div>

    <div th:replace="modals.html :: modals"></div>

</div>
<div th:replace="template.html :: js-include"></div>
<script th:src="@{/js/modals.js}"></script>
</body>
</html>